{% extends "base.html" %}
{% block content2 %}


<div class="col-lg-9 items-list">
	<div class="card mt-4">
		<div class="card-body">

			<h3 class="card-title">{{category.name}}</h3>

		</div>
		<hr>
		{% for item in items %}
		<div class="card-body">
			<a href="{{url_for('viewCategoryItem', category_name = category.name, item_name = item.name)}}">
				<h4 class="card-title">{{item.name}}</h4>
			</a>
		</div>
		<hr>
		{% endfor %}


		{% if is_valid_user %}
		<a href="{{url_for('editCategory', category_name = category.name )}}">
			<button class="btn btn-default" id="new-menu-item">
				Rename the Category
			</button>
		</a>
		<a href="{{url_for('deleteCategory', category_name = category.name )}}">
			<button class="btn btn-default delete" id="delete-category">
				Delete the Category
			</button>
		</a>
		<a href="{{url_for('newCategoryItem', category_name = category.name )}}">
			<button class="btn btn-default" id="new-menu-item">
				Add Item
			</button>
		</a>
		{% endif %}

	</div>
</div>

{% endblock %}