{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<div class="row divider green">
      <div class="col-md-12"></div>
</div>
<div class="row banner menu">
      <div class="col-md-11 col-md-offset-1 padding-none">


            <div class="card item-view">
                  <div class="card-header">
                  </div>
                  <ul class="list-group">
                        <li class="list-group-item">
                              <h3>{{item.name }}</h3>{{item.description}}
                              </br></br>
                              {% if is_valid_user %}
                              <a href='{{url_for('editCategoryItem', item_name=item.name ) }}'>Edit</a> |
                              <a href='{{url_for('deleteCategoryItem', item_name=item.name ) }}'>Delete</a>
                              {% endif %}
                              </br>
                        </li>
                  </ul>
            </div>


      </div>

</div>

{% endblock %}